body
{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(7, 1, 1);
}
.container
{
    text-align: center;
    margin-left: 34%;
    width: 450px;
    border: solid 2px white;
    /*margin-top: -3%;*/
    padding: 22px;
    margin-top: 50px;

}
h1
{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
.num
{
    display: flex;
    color: white;
    margin-left: 6%;
}
h2{
    font-size: 60px;
    margin-inline: 5px;
}
button
{
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: 8px;
    cursor: pointer;
}
button:hover
{
    border: 2px white solid;
}